@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgba(0, 0, 0, 1);
}


.text-container {
  .symbol-current {
    border-bottom: 3px;
    animation: underline-animation 0.5s infinite ;
    transition: border 0.3s ease-in-out;
  }

  .symbol-error {
    color: red;
  }

  .symbol-success {
    color: greenyellow;
  }

  @keyframes underline-animation {
    to {
      border-bottom: 4px solid white;
    }
  }
}